<%- include('../template/header'); %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>General Form</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">General Form</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-default">
                            <div class="card-header">
                                <h3 class="card-title">bs-stepper</h3>
                                <div class="card-tools">
                                    <img src="/dist/img/BBPS_Logo.png" alt="BBPS" width="350" height="65">
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <div class="bs-stepper">
                                    <div class="bs-stepper-header" role="tablist">
                                        <!-- your steps here -->
                                        <div class="step active" data-target="#logins-part">
                                            <button type="button" class="step-trigger" role="tab"
                                                aria-controls="logins-part" id="logins-part-trigger" aria-selected="true">
                                                <span class="bs-stepper-circle">1</span>
                                                <span class="bs-stepper-label">Select Biller</span>
                                            </button>
                                        </div>
                                        <div class="line"></div>
                                        <div class="step active" data-target="#information-part">
                                            <button type="button" class="step-trigger" role="tab"
                                                aria-controls="information-part" id="information-part-trigger">
                                                <span class="bs-stepper-circle">2</span>
                                                <span class="bs-stepper-label">Confirm Biller</span>
                                            </button>
                                        </div>
                                        <div class="line"></div>
                                        <div class="step active" data-target="#payment-part">
                                            <button type="button" class="step-trigger" role="tab"
                                                aria-controls="payment-part" id="payment-part-trigger">
                                                <span class="bs-stepper-circle">3</span>
                                                <span class="bs-stepper-label">Payment</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="bs-stepper-content mt-4">
                                        <!-- your steps content here -->
                                        <div id="logins-part" class="content active dstepper-block" role="tabpanel"
                                            aria-labelledby="logins-part-trigger">
                                            <!-- <form action="/conf_bill" method="post"> -->
                                                <div id="divToPrint">
                                                    <div class="row">
                                                        <!-- <div class="col-md-4"></div> -->
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <div class="col-md-3">
                                                                            <label for="trns_id">Transaction ID</label>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <input type="text" class="form-control"
                                                                                name="trns_id" id="trns_id"
                                                                                placeholder="Transaction ID" value="<%= JSON.parse(ref_no); %>" readonly>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <div class="col-md-3">
                                                                            <label for="trns_dt">Transaction Date and Time</label>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <input type="text" class="form-control"
                                                                                name="trns_dt" id="trns_dt"
                                                                                placeholder="Transaction Date and Time" value="<%= trns_dt; %>" readonly>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <div class="col-md-3">
                                                                            <label for="msg">Transaction Status</label>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <input type="text" class="form-control"
                                                                                name="msg" id="msg"
                                                                                placeholder="Transaction Status" value="<%= JSON.parse(msg); %>" readonly>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <div class="col-md-3">
                                                                            <label for="CatId">Biller Name</label>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <input type="text" class="form-control"
                                                                                name="BillarName" id="BillarName"
                                                                                placeholder="Biller Name" value="<%= blr_name; %>" readonly>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <% var dtls = JSON.parse(pay);
                                                                    dtls.forEach((data) => {
                                                                        %>
                                                                            <div class="col-md-6">
                                                                                <div class="form-group row">
                                                                                    <div class="col-md-3">
                                                                                        <label for="<%= data.Name %>"><%= data.DisplayName %></label>
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <input type="text" class="form-control"
                                                                                            name="<%= data.Name %>" id="<%= data.Name %>"
                                                                                            placeholder="<%= data.DisplayName %>" value="<%= data.Value %>" readonly>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                <% }) %>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="col-md-4"></div> -->
                                                    </div>
                                                </div>
                                                <input type="hidden" name="PayeePhoneNo" id="PayeePhoneNo" value="<%= PayeePhoneNo; %>">
                                                <input type="hidden" name="BlrId" id="BlrId" value="<%= BlrId; %>">
                                                <input type="hidden" name="PayMode" id="PayMode" value="<%= PayMode; %>">
                                                <div class="row mt-4">
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-4">
                                                        <button type="button"
                                                            class="btn btn-outline-success btn-flat pull-right"
                                                            onclick="printDiv()">Print
                                                            <!-- <i class="fa fa-caret-right ml-2"></i> -->
                                                        </button>
                                                    </div>
                                                    <div class="col-md-4"></div>
                                                </div>
                                            <!-- </form> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </section>
    </div>
        <%- include('../template/footer'); %>

        <script>
            function printDiv() {
                var trns_id = $('#trns_id').val();
                var trns_dt = $('#trns_dt').val();
                var msg = $('#msg').val();
                var BillarName = $('#BillarName').val();
                var CustomerName = $('#CustomerName').val();
                var BillNumber = $('#BillNumber').val();
                var BillPeriod = $('#BillPeriod').val();
                var BillDate = $('#BillDate').val();
                var DueDate = $('#DueDate').val();
                var BASE_BILL_AMOUNT = $('#BASE_BILL_AMOUNT').val();
                var AppRefNumber = $('#AppRefNumber').val();
                var PayeePhoneNo = $('#PayeePhoneNo').val();
                var BlrId = $('#BlrId').val();
                var PayMode = $('#PayMode').val();
                
                var WindowObject=window.open('/receipt?trns_id='+trns_id+'&trns_dt='+trns_dt+'&msg='+msg+'&BillarName='+BillarName+'&CustomerName='+CustomerName+'&BillNumber='+BillNumber+'&BillPeriod='+BillPeriod+'&BillDate='+BillDate+'&DueDate='+DueDate+'&BASE_BILL_AMOUNT='+BASE_BILL_AMOUNT+'&AppRefNumber='+AppRefNumber+'&PayeePhoneNo='+PayeePhoneNo+'&BlrId='+BlrId+'&PayMode='+PayMode,'Print-Window');
                //myWindow.document.write("<p>This is 'myWindow'</p>");
                // alert(myWindow.innerHTML);
                WindowObject.document.close();
                setTimeout(function () {
                    WindowObject.close();
                }, 10);

            // var divToPrint = document.getElementById('divToPrint');

            // var WindowObject = window.open('', 'Print-Window');
            // WindowObject.document.open();
            // WindowObject.document.writeln('<!DOCTYPE html>');
            // WindowObject.document.writeln('<html><head><title></title><style type="text/css">');


            // WindowObject.document.writeln('@media print { .center { text-align: center;}' +
            //     '                                         .inline { display: inline; }' +
            //     '                                         .underline { text-decoration: underline; }' +
            //     '                                         .left { margin-left: 315px;} ' +
            //     '                                         .right { margin-right: 375px; display: inline; }' +
            //     '                                          table { border-collapse: collapse; font-size: 10px;}' +
            //     '                                          th, td { border: 1px solid black; border-collapse: collapse; padding: 6px;}' +
            //     '                                           th, td { }' +
            //     '                                         .border { border: 1px solid black; } ' +
            //     '                                         .bottom { bottom: 5px; width: 100%; position: fixed ' +
            //     '                                       ' +
            //     '                                   } } </style>');
            // WindowObject.document.writeln('</head><body onload="window.print()">');
            // WindowObject.document.writeln(divToPrint.innerHTML);
            // WindowObject.document.writeln('</body></html>');
            // WindowObject.document.close();
            // setTimeout(function () {
            //     WindowObject.close();
            // }, 10);

            }
        </script>